body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

input {
  width: 80px;
  margin: 5px;
  padding: 8px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #00e676;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#countdown {
  font-size: 20px;
  margin-top: 20px;
}

.intersection {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 10px;
  justify-content: center;
  margin: 30px auto;
}

.intersection h2{
    margin-top: 25px;
    color: black;
}




.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  margin: auto;
  transition: background 0.3s;
  
}

.green { background: green !important; }
.red { background: #d10606 !important; }
